.detail-specialty-container {
    .description-specialty {
        background-color: #fff !important;
        padding: 10px;
        margin: 15px 0;

        h1, h2, h3 {
            font-size: 16px;
            font-weight: 600;
        }

        .detail {
            cursor: pointer;
            color: #45c3b2;
            font-size: 13px;
        }
    }

    .search-sp-doctor {
        select {
            height: 30px;
            padding: 5px 8px;
            border: none;
            outline: none;
            border-radius: 3px;
            cursor: pointer;
        }
    }

    .detail-specialty-body {
        padding: 0 100px;
        margin-bottom: 50px;
        background: #eee;
        display: flex;
        flex-direction: column;
    }

    .each-doctor {
        display: flex;
        width: 100%;
        min-height: 300px;
        margin: 15px 0;
        background-color: #fff;
        box-shadow: 0 1px 6px rgb(32, 33, 36 / 25%);
        border-radius: 8px;
        padding: 10px;

        .dt-content-left {
            width: 50%;
            border-right: 1px solid #ddd;

            .profile-doctor-container {
                .down {
                    padding: 5px;
                }
            }
        }

        .dt-content-right {
            width: 50%;
            padding: 5px;

            .doctor-schedule {
                .doctor-schedule-container {
                    border-right: unset !important;
                }
            }

            .doctor-extra-infor {
                border-top: 1px solid #ddd;
                margin-top: 10px;
                padding-top: 10px;

                .doctor-extra-infor-container {
                    padding: 0 !important;
                }
            }
        }
    }
}